body {
  background-color: #431C52; 
  color: white; 
  font-family: "Times New Roman", Times, serif; 
  margin: 20px;
}

header {
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px; 
}

nav ul li a {
  color: white; 
  text-decoration: none;
}

nav ul li a:hover {
  color: #A934BD; 
}

main {
  padding: 20px;
}

article {
  background-color: #5A2776; 
  padding: 20px;
  border-radius: 10px; 
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #DE73FF; 
}

h3 {
  color: #B5338A; 
}

p {
  color: white; 
}

a {
  color: #A934BD; 
}

a:hover {
  color: #431C52; 
}
